html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
}

.filter {
    display: flex;
    width: 100%;
    height: 20px;
    padding: 15px;
}

#filter-result {
    margin-left: 10px;
}

#list {
    width: 38%;
    height: 100%;
}

/*  to show google map,
    must always set a height on the <div> explicitly */
#map {
    width: 62%;
    height: 100%;
}
