html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
}

.header {
    padding-left: 20px;
    width: 100%;
}

.filter {
    display: flex;
    width: 100%;
    height: 20px;
    padding: 15px;
}

#filter-result {
    margin-left: 10px;
}

#list {
    width: 38%;
    height: 100%;
}

/*  to show google map,
    must always set a height on the <div> explicitly */
#map {
    width: 62%;
    height: 100%;
}

.place-story {
    display: flex;
    flex-wrap: nowrap;
}

.info {
    display: flex;
    flex-direction: column;
}

.tip {
    font-size: large;
}

hr {
    margin-right: 15px;
    opacity: 50%;
}

.price-category-rating {
    color: #494949;
}

.directions {
    color: #494949;
}

.openNow {
    color: firebrick;
    font-weight: 400;
}

.image img {
    width: 90px;
    height: 90px;
}

.image {
    margin-top: 10px;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
